.tukiwi-logo:before {
    color: #070707;
    content: "TuKi";
}
.tukiwi-logo:after {
    color: #78FF3D;
    content: "Wi";
}


footer {
  margin-top: 150px;
}

.chief_profile img {
    display: block;
    margin-left: 10%;
}

.chief_profile {
  max-width: 550px;
}

.chief_profile .social i {
  font-size: 180%;
  padding-right: 8px;
}


.kijumbo h2 {
    font-size: 170%;
}
.kijumbo p {
    font-size: 140%;
}

.row-authors{
    margin-top: 100px;
}

.reveal .dark-background h1 {
	color: #07070;
  //text-shadow: 6px 0 0 #eee, -6px 0 0 #eee, 0 6px 0 #eee, 0 -6px 0 #eee, 2px 2px #eee, -2px -2px 0 #eee, 2px -2px 0 #eee, -2px 2px 0 #eee;
  text-shadow: 3px 3px #eee;
}

.reveal .color-background h1 ,
.reveal .color-background h2 ,
.reveal .color-background h3 {
	color: #e0e0e0;
  text-shadow: 3px 3px #888;
}

.featurette .img-responsive {
	border-radius: 10px;
}